.mail1, .twitter, .vk_, .facebook, .insta{
	background: url(../img/sprites.png) no-repeat;
}

.mail1{
	background-position: -586px -63px ;
	width: 30px;
	height: 19px;
}

.twitter{
	background-position: -158px -17px ;
	width: 33px;
	height: 27px;
}

.vk_{
	background-position: -53px -16px ;
	width: 42px;
	height: 25px;
}

.facebook{
	background-position: -118px -12px ;
	width: 17px;
	height: 31px;
}

.insta{
	background-position: -13px -14px ;
	width: 31px;
	height: 30px;
}

